body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    height: 35px;
    /* width: 300px; */
    border-radius: 5px;

}

#participantFields input{
    margin: 0px 5px;
    width: 20%;
    height: 30px;
}

#teacherFields input{
    margin: 0px 5px;
    width: 200px;
    height: 30px;

}

#teacherFields input[type="email"]{
    width: 300px;
}

label{
    font-weight: bold;
    font-size: large;
}

#submit{
    border-radius: 10px;
    background-color: rgb(9, 0, 81);
    color: white;
    padding: 10px;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
}

#submit:hover{
    color: rgb(209, 70, 0);
    text-decoration: underline;
}

select{
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}

#participantFields{
    font-size: 20px;
}

#teacherFields{
    font-size: 20px;
}