.rating {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    /* transform: translate(180deg); */
}

.rating input {
    display: none;
}

.rating label::before {
    content: "\2605";
    /* Unicode character for a star */
    font-size: 30px;
    color: gray;
}

.rating input:checked~label::before {
    color: gold;
}

.danger{
    color: red;
}

select .danger:selected{
    color: red;
}