*{
    font-family: 'Gabarito', sans-serif;
}

.container{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 3em;
}

.resetPassword{
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2em;
    padding-top: 1em;
    width: 30%;
}

input[type='password']{
    width: 98%;
    margin-top: 2%;
}

.password-container{
    position: relative;
}

.show-password{
    position: absolute;
    top: 55%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(88, 155, 107);
}

#code{
    width: 15%;
    margin-right: 2em;
}

input{
    height: 2em;
    border: black solid 1px;
    padding-left: 1em;
}

#mobile{
    width: 67%;
}

button, input[type='submit']{
    background-color: rgb(88, 155, 107);
    color: white;
    border: none;
    height: 3em;
    width: 25%;
    margin-left: 74%;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: red;
}

.otp{
    display: flex;
    justify-content: space-evenly;
}

#otp2, #otp3{
    margin-left: 3%;
}

.otp input[type="text"]{
    width: 30%;
}

.otp input[type="text"]{
    padding: 0;
    text-align: center;
}

.normal-text{
    color: #8d8d8d;
}

input[type="checkbox"]{
    height: 1em;
}

.login{
    display: flex;
    justify-content: center;
}

.login a{
    text-decoration: none;
    color: rgb(88, 155, 107);
}
