.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 648px;
    background-color: #8d8d8d;
}

.item{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    background-color: aqua;
    line-height: 180px;
}